.content {
   
    flex-direction: row;
    margin-left: 100px;
    margin-top:80px
    
  
    
}
.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: aquamarine;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
    margin-bottom: 100px;
    border-radius: 10%;
 }
 .content p {
   margin-right: 90px;
  
 }
 .content h6{
  text-align: center;
 }
